*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

body{
    font-family: 'Roboto';
}

i{
    font-size: 20px;
    vertical-align: middle;
}

main{
    padding: 0 2%;
}

main header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0 20px 0;
    flex-direction: column;
}

main header img{
    width: 50%;
    max-width: 190px;
    border-radius: 50%;
    margin-bottom: 30px;
}

main header h1{
    text-align: center;
}

nav{
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 10%;
}

nav ul{
    list-style-type: none;
    width: 100%;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    margin: 10px 0;
    width: 100%;
}

nav ul li.small{
    width: 45%;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    background-color: #000000;
    padding: 10px 0;
    border-radius: 10px;
    width: 100%;
    transition: .4s;
}

nav ul li a:hover{
    background-color: #3d3d3d;
}

section.sobre{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding: 0 2%;
    flex-wrap: wrap;
    flex-direction: column;
}

section.sobre p{
    margin-top: 15px;
    text-align: justify;
    width: 100%;
    max-width: 500px;
}

footer{
    text-align: center;
    flex-direction: column;
    margin-top: 50px;
    font-size: 13px;
    color: #a7a7a7;
}

footer a{
    color: #a7a7a7;
}

@media screen and (max-width:600px){
    main header h1{
        font-size: 25px;
    }

    section.sobre p{
        text-align: justify;
        width: 100%;
        max-width: 400px;
    }
}
@media screen and (max-width:400px){
    nav ul li{
        margin: 6px 0;
        width: 100%;
    }

    main header img{
        max-width: 145px;
    }

    section.sobre p{
        font-size: 90%;
    }
}

@media screen and (max-height: 500px){
    main header{
        padding: 60px 0 20px 0;
    }
    
    main header img{
        max-width: 120px;
        margin-bottom: 15px;
    }

    main header h1{
        font-size: 21px;
    }

    nav ul li a{
        padding: 6px 0;
        font-size: 14px;
    }

    footer{
        font-size: 10px;
    }
}
